name: BitLogin Release

on:
  release:
    types:
      - created

env:
  artifact_name: BitLogin

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            c_compiler: cl
            cpp_compiler: cl
            install-cmd: echo "No dependencies to install on Windows."
            build_path_prefix: Release/
            artifact_name: BitLogin
            artifact_suffix: .exe
          - os: ubuntu-20.04
            c_compiler: gcc
            cpp_compiler: g++
            install-cmd: sudo apt-get update && sudo apt-get install -y libssl-dev libfmt-dev
            build_path_prefix: ""
            artifact_name: BitLogin
            artifact_suffix: ""
          - os: macos-14
            c_compiler: gcc
            cpp_compiler: g++
            install-cmd: brew install fmt openssl
            build_path_prefix: ""
            artifact_name: BitLogin-macos-universal
            artifact_suffix: ""
            cmake_arch_flags: "-DCMAKE_OSX_ARCHITECTURES='x86_64;arm64'"
          - os: ubuntu-latest
            target_arch: aarch64
            c_compiler: aarch64-linux-gnu-gcc
            cpp_compiler: aarch64-linux-gnu-g++
            install-cmd: |
              sudo apt-get update
              sudo apt-get install -y gcc-aarch64-linux-gnu g++-aarch64-linux-gnu libssl-dev:arm64
            build_path_prefix: ""
            artifact_name: BitLogin-aarch64
            artifact_suffix: ""
            cmake_arch_flags: "-DCMAKE_SYSTEM_NAME=Linux -DCMAKE_SYSTEM_PROCESSOR=aarch64"
            cmake_cross_compile_flags: "-DCMAKE_C_COMPILER=aarch64-linux-gnu-gcc -DCMAKE_CXX_COMPILER=aarch64-linux-gnu-g++ -DCMAKE_FIND_ROOT_PATH_MODE_PROGRAM=NEVER -DCMAKE_FIND_ROOT_PATH_MODE_LIBRARY=ONLY -DCMAKE_FIND_ROOT_PATH_MODE_INCLUDE=ONLY -DCMAKE_FIND_ROOT_PATH_MODE_PACKAGE=ONLY"
          - os: ubuntu-latest
            target_arch: armv7
            c_compiler: arm-linux-gnueabihf-gcc
            cpp_compiler: arm-linux-gnueabihf-g++
            install-cmd: |
              sudo apt-get update
              sudo apt-get install -y gcc-arm-linux-gnueabihf g++-arm-linux-gnueabihf libssl-dev:armhf
            build_path_prefix: ""
            artifact_name: BitLogin-armv7
            artifact_suffix: ""
            cmake_arch_flags: "-DCMAKE_SYSTEM_NAME=Linux -DCMAKE_SYSTEM_PROCESSOR=arm"
            cmake_cross_compile_flags: "-DCMAKE_C_COMPILER=arm-linux-gnueabihf-gcc -DCMAKE_CXX_COMPILER=arm-linux-gnueabihf-g++ -DCMAKE_FIND_ROOT_PATH_MODE_PROGRAM=NEVER -DCMAKE_FIND_ROOT_PATH_MODE_LIBRARY=ONLY -DCMAKE_FIND_ROOT_PATH_MODE_INCLUDE=ONLY -DCMAKE_FIND_ROOT_PATH_MODE_PACKAGE=ONLY"

    steps:
    - uses: actions/checkout@v4

    - name: Set up QEMU for ARM emulation (if needed)
      if: matrix.target_arch != ''
      uses: docker/setup-qemu-action@v3
      with:
        platforms: linux/arm64,linux/arm/v7

    - name: Set CMake version
      uses: jwlawson/actions-setup-cmake@v2
      with:
        cmake-version: '3.29.0'

    - name: Install dependencies
      run: ${{ matrix.install-cmd }}

    - name: CMake Configure
      run: >
        cmake -B ${{ github.workspace }}/build
        -DCMAKE_CXX_COMPILER=${{ matrix.cpp_compiler }}
        -DCMAKE_C_COMPILER=${{ matrix.c_compiler }}
        -DCMAKE_BUILD_TYPE=Release
        -DCMAKE_POSITION_INDEPENDENT_CODE=TRUE
        ${{ matrix.cmake_arch_flags }}
        ${{ matrix.cmake_cross_compile_flags }}
        -S ${{ github.workspace }}

    - name: CMake Build
      run: cmake --build ${{ github.workspace }}/build --config Release

    - name: Set output name
      id: strings
      shell: bash
      run: |
        if [[ -n "${{ matrix.target_arch }}" ]]; then
          echo "artifact_name_full=${{ matrix.artifact_name }}" >> "$GITHUB_OUTPUT"
        else
          artifact_name_raw=`cat build/execname`
          echo "The artifact will be named ${artifact_name_raw}"
          echo "artifact_name_full=${artifact_name_raw}" >> "$GITHUB_OUTPUT"
        fi

    - name: Upload binaries to release
      uses: svenstaro/upload-release-action@v2
      with:
        asset_name: ${{ matrix.artifact_name }}${{ matrix.artifact_suffix }}
        file: ${{ github.workspace }}/build/${{ matrix.build_path_prefix }}${{ matrix.artifact_name }}${{ matrix.artifact_suffix }}
        tag: ${{ github.ref }}
        overwrite: true

