name: BitLogin Release

on:
  release:
    types:
      - created

env:
  artifact_name: BitLogin

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            c_compiler: cl
            cpp_compiler: cl
            install-cmd: echo "No dependencies to install on Windows."
            build_path_prefix: Release/
            artifact_name: BitLogin-windows-x64
            artifact_suffix: .exe
            final_executable_name: "BitLogin"
          - os: ubuntu-latest
            c_compiler: gcc
            cpp_compiler: g++
            install-cmd: sudo apt-get update && sudo apt-get install -y libssl-dev libfmt-dev
            build_path_prefix: ""
            artifact_name: BitLogin-linux-x64-compat
            artifact_suffix: ""
            compile_flags: "-static-libgcc -static-libstdc++"
            final_executable_name: "BitLogin"
          - os: macos-14
            c_compiler: gcc
            cpp_compiler: g++
            install-cmd: brew install fmt openssl
            build_path_prefix: ""
            artifact_name: BitLogin-macos-universal
            artifact_suffix: ""
            cmake_arch_flags: "-DCMAKE_OSX_ARCHITECTURES='x86_64;arm64'"
            final_executable_name: "BitLogin"
          - os: ubuntu-22.04
            target_arch: aarch64
            c_compiler: aarch64-linux-gnu-gcc
            cpp_compiler: aarch64-linux-gnu-g++
            install-cmd: |
                set -eux
                export DEBIAN_FRONTEND=noninteractive
                dpkg --print-architecture
                sudo dpkg --add-architecture arm64
                sudo sed -i 's|^deb |deb [arch=amd64] |' /etc/apt/sources.list
                CODENAME=$(lsb_release -cs)
                echo "deb [arch=arm64] http://ports.ubuntu.com/ubuntu-ports ${CODENAME} main restricted universe multiverse" | sudo tee /etc/apt/sources.list.d/arm64.list
                echo "deb [arch=arm64] http://ports.ubuntu.com/ubuntu-ports ${CODENAME}-updates main restricted universe multiverse" | sudo tee -a /etc/apt/sources.list.d/arm64.list
                echo "deb [arch=arm64] http://ports.ubuntu.com/ubuntu-ports ${CODENAME}-security main restricted universe multiverse" | sudo tee -a /etc/apt/sources.list.d/arm64.list
                sudo apt-get clean
                sudo apt-get update
                sudo apt-get install -y gcc-aarch64-linux-gnu g++-aarch64-linux-gnu libc6-dev-arm64-cross libssl-dev:arm64
            build_path_prefix: ""
            artifact_name: BitLogin-linux-aarch64
            artifact_suffix: ""
            cmake_arch_flags: "-DCMAKE_SYSTEM_NAME=Linux -DCMAKE_SYSTEM_PROCESSOR=aarch64"
            cmake_cross_compile_flags: "-DCMAKE_C_COMPILER=aarch64-linux-gnu-gcc -DCMAKE_CXX_COMPILER=aarch64-linux-gnu-g++ -DCMAKE_FIND_ROOT_PATH_MODE_PROGRAM=NEVER -DCMAKE_FIND_ROOT_PATH_MODE_LIBRARY=ONLY -DCMAKE_FIND_ROOT_PATH_MODE_INCLUDE=ONLY -DCMAKE_FIND_ROOT_PATH_MODE_PACKAGE=ONLY"
            final_executable_name: "BitLogin"
          - os: ubuntu-22.04
            target_arch: armv7
            c_compiler: arm-linux-gnueabihf-gcc
            cpp_compiler: arm-linux-gnueabihf-g++
            install-cmd: |
                set -eux
                export DEBIAN_FRONTEND=noninteractive
                dpkg --print-architecture
                sudo dpkg --add-architecture armhf
                sudo sed -i 's|^deb |deb [arch=amd64] |' /etc/apt/sources.list
                CODENAME=$(lsb_release -cs)
                echo "deb [arch=armhf] http://ports.ubuntu.com/ubuntu-ports ${CODENAME} main restricted universe multiverse" | sudo tee /etc/apt/sources.list.d/armhf.list
                echo "deb [arch=armhf] http://ports.ubuntu.com/ubuntu-ports ${CODENAME}-updates main restricted universe multiverse" | sudo tee -a /etc/apt/sources.list.d/armhf.list
                echo "deb [arch=armhf] http://ports.ubuntu.com/ubuntu-ports ${CODENAME}-security main restricted universe multiverse" | sudo tee -a /etc/apt/sources.list.d/armhf.list
                sudo apt-get clean
                sudo apt-get update
                sudo apt-get install -y gcc-aarch64-linux-gnu g++-aarch64-linux-gnu libc6-dev-armhf-cross libssl-dev:armhf
            build_path_prefix: ""
            artifact_name: BitLogin-linux-armv7
            artifact_suffix: ""
            cmake_arch_flags: "-DCMAKE_SYSTEM_NAME=Linux -DCMAKE_SYSTEM_PROCESSOR=arm"
            cmake_cross_compile_flags: "-DCMAKE_C_COMPILER=arm-linux-gnueabihf-gcc -DCMAKE_CXX_COMPILER=arm-linux-gnueabihf-g++ -DCMAKE_FIND_ROOT_PATH_MODE_PROGRAM=NEVER -DCMAKE_FIND_ROOT_PATH_MODE_LIBRARY=ONLY -DCMAKE_FIND_ROOT_PATH_MODE_INCLUDE=ONLY -DCMAKE_FIND_ROOT_PATH_MODE_PACKAGE=ONLY"
            final_executable_name: "BitLogin"

    steps:
    - uses: actions/checkout@v4

    - name: Set up QEMU for ARM emulation (if needed)
      if: matrix.target_arch != ''
      uses: docker/setup-qemu-action@v3
      with:
        platforms: linux/arm64,linux/arm/v7

    - name: Set CMake version
      uses: jwlawson/actions-setup-cmake@v2
      with:
        cmake-version: '3.29.0'

    - name: Install dependencies
      run: ${{ matrix.install-cmd }}

    - name: CMake Configure
      run: >
        cmake -B ${{ github.workspace }}/build
        -DCMAKE_CXX_COMPILER=${{ matrix.cpp_compiler }}
        -DCMAKE_C_COMPILER=${{ matrix.c_compiler }}
        -DCMAKE_BUILD_TYPE=Release
        -DCMAKE_POSITION_INDEPENDENT_CODE=TRUE
        ${{ matrix.cmake_arch_flags }}
        ${{ matrix.cmake_cross_compile_flags }}
        -DCMAKE_EXE_LINKER_FLAGS="${{ matrix.compile_flags }}"
        -S ${{ github.workspace }}

    - name: CMake Build
      run: cmake --build ${{ github.workspace }}/build --config Release

    - name: Set output name
      id: strings
      shell: bash
      run: |
        if [[ -n "${{ matrix.target_arch }}" ]]; then
          echo "artifact_name_full=${{ matrix.artifact_name }}" >> "$GITHUB_OUTPUT"
        else
          artifact_name_raw=`cat build/execname`
          echo "The artifact will be named ${artifact_name_raw}"
          echo "artifact_name_full=${artifact_name_raw}" >> "$GITHUB_OUTPUT"
        fi

    - name: Upload binaries to release
      uses: svenstaro/upload-release-action@v2
      with:
        asset_name: ${{ matrix.artifact_name }}${{ matrix.artifact_suffix }}
        file: ${{ github.workspace }}/build/${{ matrix.build_path_prefix }}${{ matrix.final_executable_name || matrix.artifact_name }}${{ matrix.artifact_suffix }}
        tag: ${{ github.event.release.tag_name }}
        overwrite: true

